<md-menu #contextMenu="mdMenu" (close)="menuClosed()">
    <button md-menu-item *ngFor="let action of menuActions()" [disabled]="!action.disabled ? !!selectedForMenu : action.disabled([selectedForMenu])"
        (click)="onContextMenuClick(action.function)"> {{action.name}} </button>
</md-menu>
<md-card class="table-card" [class.table-card-margin]="enableMargin" class="mdx-table">
    <md-card-title *ngIf="tableName" class="card-title">{{tableName}}:{{loading}}</md-card-title>
    <md-card-header>
        <div class="selection-label" *ngIf="selected.length > 0">
            <md-icon>list</md-icon>
            <span>{{ selected.length }}</span>
            <button md-icon-button (click)="freeSelected()" class="close-selected"><md-icon>close</md-icon></button>
        </div>
        <div class="control-buttons">
            <ng-container *ngIf="config.actions">
                <button md-icon-button *ngFor="let action of config.actions" [mdTooltip]="action.name" mdTooltipPosition="left" [disabled]="!action.disabled ? selected.length === 0 : action.disabled(selected)"
                    (click)="onBaseMenuClick(action.function)">
              <md-icon>{{ action.icon }}</md-icon>
          </button>
            </ng-container>
            <div class="additional-buttons" *ngIf="config.additionalActions">
                <button md-icon-button #menuButton [mdMenuTriggerFor]="menu">
                  <md-icon>more_vert</md-icon>
              </button>
                <md-menu #menu="mdMenu">
                    <button *ngFor="let action of config.additionalActions" md-menu-item [disabled]="!action.disabled ? selected.length === 0 : action.disabled(selected)"
                        (click)="onAdditionalMenuClick(action.function)">
                      <span>{{ action.name }}</span>
                  </button>
                </md-menu>
            </div>
        </div>
        <div class="search-separator"></div>
        <div class="search">
            <md-input-container>
                <input type="text" mdInput [formControl]="searchControl" />
            </md-input-container>
            <button md-icon-button *ngIf="searchControl.value.length === 0"><md-icon>search</md-icon></button>
            <button md-icon-button *ngIf="searchControl.value.length > 0" (click)="clearSearch()"><md-icon>close</md-icon></button>
        </div>
    </md-card-header>
    <md-card-content>
        <table class="table table-striped" [sortBy]="sortBy" (activePageChange)="freeSelected()" (sortByChange)="freeSelected()"
            (sortOrderChange)="freeSelected()" #md2="md2DataTable" [md2Data]="entities" [rowsPerPage]="pageSize" [activePage]="activePage">
            <thead>
                <tr>
                    <th class="md-cell md-checkbox-cell">
                        <md-checkbox [disabled]="entities.length === 0" [checked]="allSelected" (change)="toggleSelectAllVisible()"></md-checkbox>
                    </th>
                    <ng-container *ngFor="let column of config.columns">
                        <th *ngIf="column.type === 'ImageEntry' || column.noSort">{{ column.name }}</th>
                        <th *ngIf="column.type !== 'ImageEntry' && !column.noSort" [md2SortBy]="column.fieldName">{{ column.name }}</th>
                    </ng-container>
                </tr>
                <tr *ngIf="showLoading" class="progress">
                    <td [attr.colspan]="config.columns.length + 1">
                        <md-progress-bar mode="indeterminate"></md-progress-bar>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="data.length === 0 && !loading">
                    <td [attr.colspan]="config.columns.length + 1">
                        <mdx-nodata></mdx-nodata>
                    </td>
                </tr>

                <tr *ngFor="let entity of md2.data" [class.selected]="isSelected(entity)">
                    <td class="md-cell md-checkbox-cell">
                        <md-checkbox [checked]="isSelected(entity)" (change)="toggleRowSelection(entity, $event)"></md-checkbox>
                    </td>
                    <td *ngFor="let column of config.columns; let i = index" [class.mdx-menu-cell]="checkMenuButtonColumn(i)" [class.image]="column.type === 'ImageEntry'"
                        (click)="rowClick(entity, $event)" [ngClass]="typeClass(column.type)">
                        <div class="cell" [ngSwitch]="column.type">
                            <span *ngSwitchCase="'BaseEntry'" [ngStyle]="column.style" [innerHtml]="entity[column.fieldName]"></span>
                            <md-icon *ngSwitchCase="'BoolEntry'" [ngStyle]="column.style" [innerHtml]="checkBool(entity[column.fieldName])"></md-icon>
                            <img *ngSwitchCase="'ImageEntry'" [src]="entity[column.fieldName]">
                            <ng-container *ngSwitchCase="'MultiEntry'">
                                <span *ngFor="let innerColumn of column.inner" [ngStyle]="innerColumn.style" [innerHtml]="entity[column.fieldName][innerColumn.fieldName]"></span>
                            </ng-container>
                            <ng-container *ngSwitchCase="'ArrayEntry'">
                                <span *ngFor="let item of entity[column.fieldName]" [ngStyle]="column.style" [innerHtml]="item"></span>
                            </ng-container>
                        </div>

                        <button *ngIf="checkMenuButtonColumn(i)" md-icon-button [mdMenuTriggerFor]="contextMenu" (click)="showMenu(entity,$event)"
                            class="mdx-more-menu">
                            <md-icon>more_vert</md-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="paginator" *ngIf="entities.length > 0 && config.pagination">
                    <td [attr.colspan]="config.columns.length + 1">
                        <md-paginator [length]="entities.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizes" (page)="pageChanged($event)">
                        </md-paginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </md-card-content>
</md-card>